@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --square-color: #0529108c;
    --square-color-hov: #04180a;
}


body,
html {
    height: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    position: relative;
    /* Change from 'fixed' to 'relative' */
    width: 100%;
    overflow-y: scroll;
    /* Enable vertical scrolling */
}

a {
    color: #3498db;
}

h1 {
    font-size: min(50px, 7vw);
    color: white;
}

h2 {

    font-size: min(35px, 5vw);
    color: white;
}

p,
li {
    font-size: min(28px, 4vw);
    color: white;
}

ul {
    display: inline-block;
    text-align: left;

}

.flags {
    margin-top: 0.5vh;

}

.box {
    display: inline-block;
    perspective: 200px;
    /*transform-origin: 50% 50%;*/
}


.flag {
    margin-left: 1vw;
    cursor: pointer;
    width: 25vw;
    max-width: 100px;
    height: 10%;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.42) 0px 15px 12px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    /* Smooth transition */
}

.language-non-selected {

    opacity: 30%;
    /* Initial transparency */
    transform: rotateX(60deg);
    /* Initial 3D rotation */

}

.language-non-selected:hover {
    opacity: 100%;
    /* Fully opaque on hover */
}

/* Grid container */
.grid-container {
    margin: auto;
    display: grid;
    grid-gap: 1vw;
    margin-top: 1vh;
    margin-bottom: 0px;
    height: 90%;
    width: 95vw;
    max-width: 1000px;
}

.grid-item {
    background-color: var(--square-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.4s ease-in-out, transform 0.4s ease-in-out;

    h1,
    h2 {
        margin: 1vw;
    }
}

.grid-item.non_clickable {
    cursor: auto;
    ;
}

.grid-item:not(.non_clickable):hover {
    background-color: var(--square-color-hov);
    transform: scale(1.1);
}

.center-square img {
    width: 40%;
    border-radius: 25px;
}

.grid-item>* {
    display: block;
    text-align: center;
    transition: transform 0.3s ease;
}

.iframe-container{
    width: 95%;
    height: 60%;
    min-width: 500px;
    min-height: 330px;
}
/* focus with border animation */
.focus {
    outline-width: 1px;
    outline-offset: 0;
    outline-color: rgba(206, 0, 0, 0.75);
    outline-style: solid;
    animation: animateOutline 1.5s ease infinite;
}

@keyframes animateOutline {
    0% {
        outline-width: 1px;
        outline-offset: -3px;
        outline-color: rgba(0, 130, 206, 0);
    }

    50% {
        outline-color: rgba(206, 0, 0, 0.664);
    }

    100% {
        outline-width: 8px;
        outline-offset: 4px;
        outline-color: rgba(102, 102, 102, 0);
    }
}







.disabled {
    display: none;
}

.english-text {
    display: none;
}

@media (min-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr 1.4fr 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
}

@media (max-width: 799px) {
    .grid-container {
        grid-template-rows: repeat(5, 1fr);
    }

    .grid-item:nth-child(5) {
        grid-column: span 2;
    }
}