
#more-info {
    margin: auto;
        
    width: 80%;
    min-height: 80%;
    background-color: var(--square-color);
    text-align: center;
    padding: 3%;
    border-radius: 5%;
    margin-bottom: 2%;

}
.description-title{
    font-style: italic;
    font-size: min(60px, 8vw);
}
/* istruzione */
.Istruzione:not(.disabled){
    .section-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Add space between the sections */
        align-items: flex-start; /* Align items at the top */
        gap: 20px; /* Optional spacing between sections */
    }
  
    .section {
        width: 40%;
        min-width: 400px;
        background-color: #00000068;
        margin: auto;
        padding: 10px;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        border: 1px solid #ddd; /* Optional styling */
        border-radius: 5px; /* Optional styling */
        flex-grow: 1;
    }

    ul{
        display: inline-block;
        text-align: left;
    }

}




/* CSS */
.back-to-top {
    margin-top: 3%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 60px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 23px;
}

.back-to-top:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.back-to-top:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-20%); /* Combine both */
}
    
.back-to-top:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(20%); /* Combine both */
}
    