#more-info {
    margin: auto;

    width: 80%;
    min-height: 80%;
    background-color: var(--square-color);
    text-align: center;
    padding: 3%;
    border-radius: 5%;
    margin-bottom: 2%;

}

.description-title {
    font-style: italic;
    font-size: min(60px, 8vw);
}

/* istruzione */
.Istruzione:not(.disabled) {
    .section-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        /* Add space between the sections */
        align-items: flex-start;
        /* Align items at the top */
        gap: 20px;
        /* Optional spacing between sections */
    }

    .section {
        width: 40%;
        min-width: 400px;
        background-color: #00000068;
        margin: auto;
        padding: 10px;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
        border: 1px solid #ddd;
        /* Optional styling */
        border-radius: 5px;
        /* Optional styling */
        flex-grow: 1;
    }

    

}

/* Competenze digitali */
.Competenze-digitali:not(.disabled) {
    display: block;
}

.slideshow-container {
    width: 100%;
    height: 80%;
    perspective: 2000px;
}

.slide {
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden; /* Ensures the back is not visible */
    transform-origin: center;
}

.slide.rotate-first-half {
    animation: rotate-first-half 0.5s forwards; /* First half of the rotation */
    animation-timing-function: linear;
}

.slide.rotate-second-half {
    animation: rotate-second-half 0.5s forwards; /* Second half of the rotation */
    animation-timing-function: linear;
}

.thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.thumbnail {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border 0.3s;
    border-radius: 20%;
    transition: transform 0.2s;
    margin-top: 15%;
}

.thumbnail.active{
    border: 2px solid #007BFF;
    transform: translateY(-30%);
}
.thumbnail:hover {
    
    transform: translateY(-30%);
}


@keyframes rotate-first-half {
    from {
        transform: rotateY(0deg); /* Start rotated */
    }
    to {
        transform: rotateY(90deg); /* Rotate to the front */
    }
}
@keyframes rotate-second-half {
    from {
        transform: rotateY(-90deg); /* Start rotated */
    }
    to {
        transform: rotateY(0deg); /* Rotate to the front */
    }
}




/* PULSANTE TORNA INDIETRO */
.back-to-top, .play-again {
    margin-top: 3%;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "JetBrains Mono", monospace;
    height: 90px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 30px;
}

.play-again{
    font-size: 20px;
}

.back-to-top:focus, .play-again:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.back-to-top:hover, .play-again:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-20%);
    /* Combine both */
}

.back-to-top:active, .play-again:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(20%);
    /* Combine both */
}